<?xml version="1.0" ?>
<guide_rate val="2.64" />
<guide_box val="22" />
<star_box val="14" />
<focus_box val="80" />
<find_bin val="9" />
<filter_red val="3" />
<filter_green val="2" />
<filter_blue val="3" />
<filter_lum val="4" />
<filter_red1 val="5" />
<filter_ha val="6" />
<filter_o3 val="7" />
<filter_none val="8" />
<filter val="6" />
<temperature val="-30" />
<exposure val="900" />
<dark_exposure val="900" />
<find_exposure val="6.1" />
<flat_exposure val="3.0" />
<mount_dx1 val="-2" />
<mount_dx2 val="12" />
<mount_dy1 val="-17" />
<mount_dy2 val="-1" />
<ao_dx1 val="32" />
<ao_dx2 val="0" />
<ao_dy1 val="0" />
<ao_dy2 val="-24" />
